.App {
  text-align: center;
}

.heroContainer{
  display: flex;
  justify-content: center;
  max-width: 100%;
  max-height: 80vh;
  height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1495446815901-a7297e633e8d?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgba(255,255,255,0.6);
  background-blend-mode: lighten;
  position: relative;
}

.book-gallery-container{
  background-image: url('https://images.unsplash.com/photo-1495446815901-a7297e633e8d?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-color: rgba(255,255,255,0.6);
  background-blend-mode: lighten;
  background-size: cover;
  max-width: 100%;
  max-height: 80vh;
  height: 100vh;
}

.book-details-container{
  display: flex;
  justify-content: center;
}

.logo-container{
  position: absolute;
}

.signup-container{
  background-color: #f8f9fa;
  width: 385px;
  height: 80%;
  margin: auto;
  position: relative;
  top: 5vh;
  border-radius: 18px;
  box-shadow: 3px 3px 3px rgb(31, 31, 31);
}